<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4uYYQIadEDKy5V0DNopzzjJhlpEfw5zs</string>
	<key>GCM_SENDER_ID</key>
	<string>125327025308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.medhealth</string>
	<key>PROJECT_ID</key>
	<string>popup-ac56e</string>
	<key>STORAGE_BUCKET</key>
	<string>popup-ac56e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125327025308:ios:502a6da4afaa15540c7959</string>
	<key>DATABASE_URL</key>
	<string>https://popup-ac56e-default-rtdb.firebaseio.com</string>
</dict>
</plist>